<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ponte da maconha </title>
    <link rel="stylesheet" href="./../css/editar_curriculo/editar_curriculo.css">
    <script src="https://kit.fontawesome.com/a451098362.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="cabecalho">
            <button class="menu_cabecalho" id="voltar">
                <i class="fa-solid fa-arrow-left"></i>
                <h4>Voltar</h4>
            </button>
            <h2 id="bridgwork_texto">bridgwork</h2>
            <button class="menu_cabecalho" id="tres_pontinhos"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="logo">
            <img src="">
        </div>
    </header>
    <section>
        <div id="botoes">
            <button class="btns_coluna" id="botao_nome_candidato">Nome do Candidato</Button>
            <button class="btns_coluna" id="botao_contato">Contato</Button>
            <button class="btns_coluna" id="botao_Salario">Salario</Button>
            <button class="btns_coluna" id="botao_qualificacao">Qualificacao</Button>
            <button class="btns_coluna" id="botao_horario">Horario</Button>
        </div>
        <div id="cartao_curriculo">
            <h3 id="ct_Csalario">Salario</h3>
            <h3 id="ct_Cnome">Nome do Candidato</h3>
            <h5 id="ct_Ccontato">Contato</h5>
            <h5 id="ct_Chorario">Horario</h5>
            <div id="rodape_card">
                <h5 id="ct_Cqualificacao">Qualificacao</h5>
            </div>
        </div>
        <button id="confirmar_edicao_curiculo"> Confirmar Edicao</button>
        <div id="backgroun_recheio"></div>
    </section>
    <footer>
        <div id="rodape">
            <h6 class="texto_rodape" id="texto_rodape_UM">Contato</h6>
            <h4 class="texto_rodape" id="centro_rodape">Contato</h4>
            <h6 class="texto_rodape" id="texto_rodape_DOIS">Contato</h6>
        </div>
    </footer>
</body>

</html>