<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ponte da maconha </title>
    <link rel="stylesheet" href="./../css/ver_vagas/ver_vagas.css">
    <script src="https://kit.fontawesome.com/a451098362.js" crossorigin="anonymous"></script>
    <script type="module" src="./../../controller/cartoes.js" defer></script>
</head>

<body>
    <header>
        <div id="cabecalho">
            <button class="menu_cabecalho" id="voltar" onclick="window.location.href='./filtro_candidatarse.html'">
                <i class="fa-solid fa-arrow-left"></i>
                <h4>Voltar</h4>
            </button>
            <h2 id="bridgwork_texto">bridgwork</h2>
            <button class="menu_cabecalho" id="tres_pontinhos"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="logo">
        </div>
    </header>
    <section id="cartoes">
    </section>
    <section id="telaCadastro">
        <div id="inputs_cad">
            <input id="salario" type="text">
            <input id="vaga" type="text">
            <input id="descricao" type="text">
            <div id="buttons_telaCad">
                <button onclick="recolheDados()">Salvar</button>
                <button onclick="escondeTelaCad()">Cancelar</button>
            </div>
        </div>
    </section>
    <footer>
        <div id="rodape">
            <h6 class="texto_rodape" id="texto_rodape_UM">Contato</h6>
            <h4 class="texto_rodape" id="centro_rodape">Contato</h4>
            <h6 class="texto_rodape" id="texto_rodape_DOIS">Contato</h6>
        </div>
    </footer>
</body>

</html>