section {
    width: 95vw;
    height: 80vh;
    margin: 10vh 2vw 2vh;
    background-color: #08678C;
    border-radius: 2vw;

    /*escrito by git hubs, clbc bryam*/

    display: flex;
    justify-content: center;
    align-items: center;
}

#cartoes {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
}

/* Estilos do cartão */
.cartao_vaga {
    width: 15vw;
    height: 25vh;
    padding-top: 0.7vw;
    margin: 1vw;
    border-radius: 1vw;
    border: solid 0.2vw #011126;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cartao_vaga:hover {
    width: 15.2vw;
    height: 25.2vh;
    margin: 0.9vw;
    background-color: rgb(242, 186, 87);
}

.textos {
    width: 100%;
    height: 17vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

}

.ct_font {
    width: 100%;
    height: 4vh;
    font-size: 1vw;
    margin: 0;
}

#cSalario {
    margin: 0 3.7vw 0;
}

#cHora {
    margin: 0 3.7vw 0;
}

#cVaga {

    margin: 0 -2.5vw 0vh;
}

.btns {
    width: 100%;
    height: 3vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.btns button {
    width: 5vw;
    height: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    cursor: pointer;
}

.btns button:hover {
    transform: scale(1.1);
}

#lixeira {
    background-color: rgb(218, 48, 48);
}

#lapis {
    background-color: rgb(48, 218, 48);
}

/* Estilos do rodapé */
.rodape_card {
    width: 110%;
    height: 5vh;
    text-align: center;

    background-color: #011126;
    color: #ffffff;
}

.rodape_card:hover {
    width: 110%;
    height: 5.2vh;
    text-align: center;

    background-color: #011126;
    color: #ffffff;
}

#cartao_add {
    width: 15vw;
    height: 25vh;
    padding-top: 0.7vw;
    margin: 1vw;
    border-radius: 1vw;
    border: solid 0.2vw #011126;
    background-color: #ffffff;

    font-size: 10vw;
}

#cartao_add:hover {
    width: 15.2vw;
    height: 25.2vh;
    margin: 0.9vw;
    background-color: rgb(242, 186, 87);
}