#telaAtt{
    width: 95vw;
    height: 80vh;

    margin: 10vh 2vw 2vh;

    position: fixed;
    top: 0;
    right: -100vw;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.PutosAtt{
    width: 10vw;
    height: 2vh;
    border-radius: 1vw;
    padding: 0 1vw;
}

#inputs_att{
    width: 15vw;
    height: 25vh;

    background-color: white;
    border-radius: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 5vh 0;
}

#buttons_telaatt{
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
}

.attbuts{
    width: 3.6vw;
    border-radius: 1vw;
}

.attbuts:hover{
    transform: scale(1.1);
    background-color: rgb(242, 186, 87);
}